body {
background-color:rgba(130, 208, 232, 0.66);
font-family: verdana, arial, helvetica, sans-serif;
  }

h1 {
color:rgb(0, 0, 0);
font-family: fantasy;
text-transform: uppercase;
text-align: center;
}

main {
width:50%;
margin-left:auto;
margin-right:auto;
max-width:800px;
background:white;
padding:10px;
}

img {
width:75%;
max-width:800px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
display:block;
}

h2 {
  font-family: helvetica mono, andale mono, mono;
  font-size 15px;
  text-align: center;
  border-style: dashed;
      border-width: 2px;
      border-left-width: auto;
      border-right-width: auto;
      border-color: rgb(14, 82, 153);
      display:inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu ul {
  display: block;
  width: 15%;
  font-size: 12px;
  border: 3px solid black;
  border-left-width: auto;
  border-right-width: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left:0;
  margin-bottom:10px;
  position: fixed;
  top:0;
  left:0;
}

@media screen and (max-width:605px) {
.everything {
  width:100%;
}

.menu ul {
  margin-top:0;
  margin-left:0;
}

p:first-child {
  margin-left: 10rem;
}

h2 {
  padding-left: 8rem;
  border: none;
}

img {
  padding-left: 8rem;
}

}

@media screen and (max-width:414px) {
.everything {
  width:100%;
}

 img {
   width:60%;
   margin-left:auto;
   margin-right:auto;
 }

 h1 {
   margin-left: 4rem;
 }

}
